body{
    background-color: darkolivegreen;
    fonte-size:25px;
    color:beige;
    text-align: left;
}
h1{
    background-color: darkorange;
    fonte-size:25px;
    color:beige;
    text-align: center;
}
h2{
    background-color: darkorange;
    fonte-size:25px;
    color:beige;
    text-align: center;
}
h3 {
    color:red;
}
h4{
    color:#ff0000
}
h5{
    color:#ff0000 
}